@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap);
#navbarSupportedContent {
    background-color: #229679;
    border-radius: 0 0 20px 20px;
    text-align: center
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #229679;
    padding: 10px 30px 10px 10%;
    height: 100px
}

.navImg {
    width: 80px;
    height: 80px
}

.navbar-nav {
    list-style: none
}

.navbar-nav li {
    display: inline-block;
    padding: 0 20px
}

.navbar-nav li a {
    transition: all .3s ease 0s
}

.navbar-nav li a:hover {
    color: #144a70
}

.navbar-toggler {
    color: #edf0f1;
    background-color: #229679
}

.buttonContact {
    padding: 9px 25px;
    background-color: #0c293e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s
}

.buttonContact:hover {
    background-color: #144a70
}

@media (min-width:0px) and (max-width:700px) {
    .navImg {
        width: 50px;
        height: 50px
    }
    .navbar-brand {
        margin-left: -20px
    }
    .navbar {
        height: auto
    }
}

footer[data-v-22bf2a1e] {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #002142;
    color: #fff;
    text-align: center;
    justify-content: center;
    border-top: 2px solid #31ddb2;
    margin-top: 55px;
    display: flex
}

footer p[data-v-22bf2a1e] {
    font-size: 25px;
    margin: 40px 0 40px 0
}

@media (min-width:0px) and (max-width:600px) {
    footer[data-v-22bf2a1e] {
        margin: 0 auto;
        width: 70%;
        border-top: 2px solid #31ddb2
    }
    footer p[data-v-22bf2a1e] {
        font-size: 15px
    }
}

.left[data-v-d844584e] {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    left: 0;
    bottom: 0;
    width: 5vw
}

.left ul[data-v-d844584e] {
    list-style-type: ""
}

.left li[data-v-d844584e] {
    color: #edf0f1
}

.right[data-v-d844584e] {
    float: right;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 0;
    flex-wrap: wrap;
    width: 5vw
}

#mail[data-v-d844584e] {
    font-size: 20px;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    margin-bottom: 20px
}

.left li a[data-v-d844584e] {
    transition: all .5s ease 0s
}

.left li a[data-v-d844584e]:hover {
    color: #12b98f
}

.right a[data-v-d844584e] {
    transition: all .5s ease 0s
}

.right a[data-v-d844584e]:hover {
    color: #12b98f
}

.verticalLine[data-v-d844584e] {
    border: 1px solid #12b98f;
    width: 0;
    height: 150px
}

.leftLine[data-v-d844584e] {
    margin-left: 28px
}

.rightLine[data-v-d844584e] {
    margin-left: 10px
}

@media (min-width:0px) and (max-width:600px) {
    .left[data-v-d844584e],
    .right[data-v-d844584e] {
        display: none
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: #002142;
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

a,
button,
h1,
h2,
h3,
li,
p {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none
}

.principalContainer {
    width: 70vw;
    height: auto;
    margin: 0 15vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.textGreenA {
    color: #12b98f
}

.textGray {
    color: #8892b0
}

p {
    font-size: 45px;
    text-align: center
}

@media (min-width:0px) and (max-width:600px) {
    .principalContainer {
        width: 100%;
        margin: 0
    }
}

.textGray[data-v-2fe18038] {
    color: #8892b0
}

.info[data-v-2fe18038] {
    padding-top: 70px;
    margin-top: 200px;
    margin-bottom: 200px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100vw 100vh;
    background-position: 50%
}

.ml1[data-v-2fe18038] {
    text-align: center
}

.principalTitle[data-v-2fe18038] {
    font-weight: 900;
    font-size: 85px;
    font-family: Calibri
}

.ml1 .letters[data-v-2fe18038] {
    display: inline-block;
    line-height: 1em
}

.ml1 .text-wrapper[data-v-2fe18038] {
    position: relative;
    display: inline-block;
    padding-top: .1em;
    padding-right: .05em;
    padding-bottom: .15em
}

.ml1 .line[data-v-2fe18038] {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #fff;
    border-color: #fff;
    transform-origin: 0 0
}

.ml1 .line1[data-v-2fe18038] {
    top: 0
}

.ml1 .line2[data-v-2fe18038] {
    bottom: 0
}

@media (min-width:0px) and (max-width:360px) {
    .principalTitle[data-v-2fe18038] {
        font-size: 38px
    }
    .ml1 .letters[data-v-2fe18038] {
        padding: 15px 0 10px 0
    }
    .info[data-v-2fe18038] {
        margin: 0 0 0 0;
        height: calc(100vh - 100px);
        height: 100vh
    }
}

@media (min-width:361px) and (max-width:600px) {
    .principalTitle[data-v-2fe18038] {
        font-size: 38px
    }
    .ml1 .letters[data-v-2fe18038] {
        padding: 15px 0 10px 0
    }
    .info[data-v-2fe18038] {
        margin: 0 0 0 0;
        height: calc(100vh - 100px)
    }
}

@media (min-width:601px) and (max-width:1000px) {
    .principalTitle[data-v-2fe18038] {
        font-size: 68px
    }
    .ml1 .letters[data-v-2fe18038] {
        padding: 15px 0 10px 0
    }
    .info[data-v-2fe18038] {
        margin: 0 0 0 0;
        height: calc(100vh - 100px)
    }
}

.sectionTitle {
    display: flex;
    flex-wrap: wrap
}

.sectionTitle1 {
    width: 100%
}

.title {
    font-size: 50px
}

.line {
    border: 1px solid #31ddb2;
    width: 100%;
    height: 1px;
    align-self: center
}

@media (min-width:0px) and (max-width:600px) {
    .sectionTitle {
        flex-direction: column;
        justify-content: center
    }
    .title {
        text-align: center;
        margin: 0 auto
    }
    .sectionTitle1 {
        width: 100%
    }
    .line {
        width: 70%;
        border: 2px solid #31ddb2
    }
}

@media (min-width:0px) and (max-width:360px) {
    .title {
        font-size: 50px
    }
}

@media (min-width:361px) and (max-width:600px) {
    .title {
        font-size: 50px
    }
}

.descriptionContainer[data-v-2e6e76ae] {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap
}

.leftContent[data-v-2e6e76ae] {
    width: 30%
}

.rightContent[data-v-2e6e76ae] {
    width: 70%
}

.largeText[data-v-2e6e76ae] {
    font-size: 20px;
    font-family: Calibri;
    color: #a8b2d1;
    text-align: start
}

img[data-v-2e6e76ae] {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-right: 60px;
    opacity: 1;
    filter: hue-rotate(180deg);
    transition: all .5s ease 0s
}

img[data-v-2e6e76ae]:hover {
    filter: hue-rotate(0deg)
}

@media (min-width:0px) and (max-width:360px) {
    .largeText[data-v-2e6e76ae] {
        text-align: center;
        font-size: 18px;
        margin-top: 20px
    }
    .descriptionContainer[data-v-2e6e76ae] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .leftContent[data-v-2e6e76ae] {
        width: 50%
    }
    .rightContent[data-v-2e6e76ae] {
        width: 70%
    }
    img[data-v-2e6e76ae] {
        width: 100%;
        height: 50%
    }
}

@media (min-width:361px) and (max-width:600px) {
    .largeText[data-v-2e6e76ae] {
        text-align: center;
        font-size: 19px;
        padding: 0 20px;
        margin-top: 20px
    }
    .descriptionContainer[data-v-2e6e76ae] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .leftContent[data-v-2e6e76ae] {
        width: 100%;
        display: flex;
        margin: 40px 0
    }
    .rightContent[data-v-2e6e76ae] {
        width: 100%
    }
    img[data-v-2e6e76ae] {
        width: 50%;
        height: 200px;
        margin: 0 auto
    }
}

@media (min-width:601px) and (max-width:1200px) {
    .leftContent[data-v-2e6e76ae] {
        width: 40%
    }
    img[data-v-2e6e76ae] {
        width: 80%;
        height: 180px;
        margin: 0 auto
    }
    .rightContent[data-v-2e6e76ae] {
        width: 60%;
        padding: 0 0 0 10px
    }
    .largeText[data-v-2e6e76ae] {
        font-size: 18px
    }
}

@media (min-width:1201px) and (max-width:1500px) {
    .leftContent[data-v-2e6e76ae] {
        width: 30%
    }
    img[data-v-2e6e76ae] {
        width: 80%;
        height: 250px;
        margin: 0 auto
    }
    .rightContent[data-v-2e6e76ae] {
        width: 70%;
        padding: 0 0 0 10px
    }
}

.cont[data-v-32a14d4e] {
    width: 100%;
    flex-wrap: wrap
}

.cont .card[data-v-32a14d4e],
.cont[data-v-32a14d4e] {
    position: relative;
    display: flex;
    justify-content: center
}

.cont .card[data-v-32a14d4e] {
    margin: 20px 30px;
    width: 250px;
    background: linear-gradient(329deg, #073768, #053d75);
    background-size: 400% 400%;
    border: 0;
    align-items: center;
    height: 300px;
    border-radius: 24px;
    text-align: center;
    overflow: hidden;
    transition: .5s;
    box-shadow: inset 10px 14px 55px 15px #002142
}

@-webkit-keyframes background-card-32a14d4e {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    to {
        background-position: 0 50%
    }
}

@keyframes background-card-32a14d4e {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    to {
        background-position: 0 50%
    }
}

.cont .card[data-v-32a14d4e]:hover {
    transform: translateY(-10px);
    box-shadow: inset 10px 14px 55px 15px #002142;
    background: linear-gradient(329deg, #002142, #053d75);
    background-size: 400% 400%
}

.cont .card[data-v-32a14d4e]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1
}

.percent[data-v-32a14d4e] {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 10
}

.percent .number[data-v-32a14d4e] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%
}

.percent .number h2 #numAngular[data-v-32a14d4e],
.percent .number h2 #numCss[data-v-32a14d4e],
.percent .number h2 #numHtml[data-v-32a14d4e],
.percent .number h2 #numVue[data-v-32a14d4e] {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: .5s
}

.card:hover .percent .number h2 #numAngular[data-v-32a14d4e],
.card:hover .percent .number h2 #numCss[data-v-32a14d4e],
.card:hover .percent .number h2 #numHtml[data-v-32a14d4e],
.card:hover .percent .number h2 #numVue[data-v-32a14d4e] {
    color: #fff;
    font-size: 60px
}

.percent .number h2 span[data-v-32a14d4e] {
    font-size: 24px;
    color: #777
}

.card:hover .percent .number h2 span[data-v-32a14d4e] {
    color: #fff
}

.text[data-v-32a14d4e] {
    position: relative;
    color: #777;
    margin-top: 15px;
    font-weight: 900;
    font-size: 25px;
    transition: .5s
}

.card:hover .text[data-v-32a14d4e] {
    color: #fff
}

svg[data-v-32a14d4e] {
    position: relative;
    width: 250px;
    height: 250px;
    z-index: 1000
}

svg circle[data-v-32a14d4e] {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px)
}

svg circle[data-v-32a14d4e]:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 440
}

.card-animationHtml[data-v-32a14d4e] {
    -webkit-animation: percentHtml-32a14d4e 6s forwards;
    animation: percentHtml-32a14d4e 6s forwards
}

.num-animationHtml[data-v-32a14d4e] {
    -webkit-animation: counterHtml-32a14d4e 6s ease-in-out alternate forwards;
    animation: counterHtml-32a14d4e 6s ease-in-out alternate forwards
}

.card-animationVue[data-v-32a14d4e] {
    -webkit-animation: percentVue-32a14d4e 6s forwards;
    animation: percentVue-32a14d4e 6s forwards
}

.num-animationVue[data-v-32a14d4e] {
    -webkit-animation: counterVue-32a14d4e 6s ease-in-out alternate forwards;
    animation: counterVue-32a14d4e 6s ease-in-out alternate forwards
}

.card-animationCss[data-v-32a14d4e] {
    -webkit-animation: percentCss-32a14d4e 6s forwards;
    animation: percentCss-32a14d4e 6s forwards
}

.num-animationCss[data-v-32a14d4e] {
    -webkit-animation: counterCss-32a14d4e 6s ease-in-out alternate forwards;
    animation: counterCss-32a14d4e 6s ease-in-out alternate forwards
}

.card-animationAngular[data-v-32a14d4e] {
    -webkit-animation: percentAngular-32a14d4e 6s forwards;
    animation: percentAngular-32a14d4e 6s forwards
}

.num-animationAngular[data-v-32a14d4e] {
    -webkit-animation: counterAngular-32a14d4e 6s ease-in-out alternate forwards;
    animation: counterAngular-32a14d4e 6s ease-in-out alternate forwards
}

.card:first-child svg circle[data-v-32a14d4e]:nth-child(2),
.card:nth-child(2) svg circle[data-v-32a14d4e]:nth-child(2),
.card:nth-child(3) svg circle[data-v-32a14d4e]:nth-child(2),
.card:nth-child(4) svg circle[data-v-32a14d4e]:nth-child(2) {
    stroke: #31ddb2;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, .7))
}

@-webkit-keyframes percentVue-32a14d4e {
    0% {
        stroke-dashoffset: 440
    }
    to {
        stroke-dashoffset: 132
    }
}

@keyframes percentVue-32a14d4e {
    0% {
        stroke-dashoffset: 440
    }
    to {
        stroke-dashoffset: 132
    }
}

@-webkit-keyframes percentHtml-32a14d4e {
    0% {
        stroke-dashoffset: 440
    }
    to {
        stroke-dashoffset: 88
    }
}

@keyframes percentHtml-32a14d4e {
    0% {
        stroke-dashoffset: 440
    }
    to {
        stroke-dashoffset: 88
    }
}

@-webkit-keyframes percentCss-32a14d4e {
    0% {
        stroke-dashoffset: 440
    }
    to {
        stroke-dashoffset: 176
    }
}

@keyframes percentCss-32a14d4e {
    0% {
        stroke-dashoffset: 440
    }
    to {
        stroke-dashoffset: 176
    }
}

@-webkit-keyframes percentAngular-32a14d4e {
    0% {
        stroke-dashoffset: 440
    }
    to {
        stroke-dashoffset: 176
    }
}

@keyframes percentAngular-32a14d4e {
    0% {
        stroke-dashoffset: 440
    }
    to {
        stroke-dashoffset: 176
    }
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false
}

#numHtml[data-v-32a14d4e] {
    counter-reset: num var(--num);
    font: 800 40px system-ui
}

#numHtml[data-v-32a14d4e]:after {
    content: counter(num)
}

@-webkit-keyframes counterHtml-32a14d4e {
    0% {
        --num: 0
    }
    to {
        --num: 80
    }
}

@keyframes counterHtml-32a14d4e {
    0% {
        --num: 0
    }
    to {
        --num: 80
    }
}

#numVue[data-v-32a14d4e] {
    counter-reset: num var(--num);
    font: 800 40px system-ui
}

#numVue[data-v-32a14d4e]:after {
    content: counter(num)
}

@-webkit-keyframes counterVue-32a14d4e {
    0% {
        --num: 0
    }
    to {
        --num: 70
    }
}

@keyframes counterVue-32a14d4e {
    0% {
        --num: 0
    }
    to {
        --num: 70
    }
}

#numCss[data-v-32a14d4e] {
    counter-reset: num var(--num);
    font: 800 40px system-ui
}

#numCss[data-v-32a14d4e]:after {
    content: counter(num)
}

@-webkit-keyframes counterCss-32a14d4e {
    0% {
        --num: 0
    }
    to {
        --num: 60
    }
}

@keyframes counterCss-32a14d4e {
    0% {
        --num: 0
    }
    to {
        --num: 60
    }
}

#numAngular[data-v-32a14d4e] {
    counter-reset: num var(--num);
    font: 800 40px system-ui
}

#numAngular[data-v-32a14d4e]:after {
    content: counter(num)
}

@-webkit-keyframes counterAngular-32a14d4e {
    0% {
        --num: 0
    }
    to {
        --num: 60
    }
}

@keyframes counterAngular-32a14d4e {
    0% {
        --num: 0
    }
    to {
        --num: 60
    }
}

.knowledgesContainer[data-v-32a14d4e] {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%
}

.knowledgesContainer h3[data-v-32a14d4e] {
    font-size: 50px;
    margin: 0 0 60px 0
}

.title[data-v-32a14d4e] {
    font-size: 70px;
    text-align: center
}

.title2[data-v-32a14d4e] {
    font-size: 40px
}

ul[data-v-32a14d4e] {
    list-style-type: "▶ "
}

li[data-v-32a14d4e] {
    color: #31ddb2
}

li span[data-v-32a14d4e] {
    color: #8690ad
}

@media (min-width:0px) and (max-width:480px) {
    .knowledgesContainer h3[data-v-32a14d4e] {
        font-size: 40px;
        margin: 0 0 20px 20px
    }
    .title[data-v-32a14d4e] {
        text-align: center;
        margin-left: 0;
        font-size: 50px
    }
}

@media (min-width:361px) and (max-width:480px) {
    .knowledgesContainer h3[data-v-32a14d4e] {
        font-size: 40px;
        margin: 0 0 20px 20px
    }
    .cont .card[data-v-32a14d4e] {
        width: 190px;
        height: 225px;
        margin: 15px 15px
    }
    .title[data-v-32a14d4e] {
        text-align: center;
        margin-left: 0;
        font-size: 50px
    }
    .percent[data-v-32a14d4e] {
        width: 120px;
        height: 120px
    }
    svg[data-v-32a14d4e] {
        position: relative;
        width: 250px;
        height: 250px;
        z-index: 1000
    }
    svg circle[data-v-32a14d4e] {
        width: 100%;
        height: 100%;
        fill: none;
        stroke: #191919;
        stroke-width: 10;
        stroke-linecap: round;
        transform: translate(5px, 5px) scale(.8)
    }
}

@media (min-width:481px) and (max-width:600px) {
    .knowledgesContainer h3[data-v-32a14d4e] {
        font-size: 40px;
        margin: 0 0 20px 40px
    }
    .cont .card[data-v-32a14d4e] {
        width: 200px;
        height: 250px;
        margin: 15px 15px
    }
}

@media (min-width:601px) and (max-width:742px) {
    .knowledgesContainer h3[data-v-32a14d4e] {
        font-size: 40px;
        margin: 0 0 20px 0
    }
    .title[data-v-32a14d4e] {
        text-align: center;
        margin-left: 0
    }
    .cont .card[data-v-32a14d4e] {
        width: 200px;
        height: 250px;
        margin: 15px 15px
    }
}

@media (min-width:743px) and (max-width:900px) {
    .knowledgesContainer h3[data-v-32a14d4e] {
        font-size: 40px;
        margin: 0 0 20px 0
    }
    .title[data-v-32a14d4e] {
        text-align: center;
        margin-left: 0
    }
    .title2[data-v-32a14d4e] {
        font-size: 30px
    }
    .cont .card[data-v-32a14d4e] {
        width: 200px;
        height: 250px
    }
}

@media (min-width:901px) and (max-width:1390px) {
    .knowledgesContainer h3[data-v-32a14d4e] {
        font-size: 40px;
        margin: 0 0 20px 0
    }
    .title[data-v-32a14d4e] {
        text-align: center;
        margin-left: 0
    }
}

.knowledgesContainer[data-v-197f024a] {
    display: flex;
    flex-direction: column;
    width: 100%
}

.knowledgesContainer h1[data-v-197f024a] {
    text-align: center
}

.title2[data-v-197f024a] {
    font-size: 50px
}

.knowledgesContainer[data-v-2b949f83] {
    display: flex
}

.leftContent[data-v-2b949f83] {
    width: 30%
}

.rightContent[data-v-2b949f83] {
    width: 70%;
    padding-left: 50px;
    display: flex;
    justify-content: center
}

.knowledgesText[data-v-2b949f83] {
    margin: 30px;
    width: 50%
}

.title2[data-v-2b949f83] {
    font-size: 40px
}

.animation[data-v-2b949f83] {
    position: relative;
    width: 300px;
    height: 100px;
    margin: 100px;
    perspective: 1000px
}

.imgArea[data-v-2b949f83] {
    position: absolute;
    width: 50%;
    height: 10vh;
    transform-style: preserve-3d;
    transform: rotateY(-1turn) translateZ(-300px);
    -webkit-animation: animate-2b949f83 30s steps(1000) infinite;
    animation: animate-2b949f83 30s steps(1000) infinite
}

.singleImgOthers[data-v-2b949f83] {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 150px
}

.singleImgOthers img[data-v-2b949f83] {
    width: 150px;
    height: 150px;
    filter: drop-shadow(10px 15px 5px rgba(0, 0, 0, .7))
}

.singleImgOthers img[data-v-2b949f83]:hover {
    -webkit-animation: rotate-center-2b949f83 .6s ease-in-out both;
    animation: rotate-center-2b949f83 .6s ease-in-out both
}

@-webkit-keyframes rotate-center-2b949f83 {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes rotate-center-2b949f83 {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(1turn)
    }
}

.singleImgOthers.img1[data-v-2b949f83] {
    transform: rotateY(0deg) translateZ(200px)
}

.singleImgOthers.img2[data-v-2b949f83] {
    transform: rotateY(75deg) translateZ(200px)
}

.singleImgOthers.img3[data-v-2b949f83] {
    transform: rotateY(150deg) translateZ(200px)
}

.singleImgOthers.img4[data-v-2b949f83] {
    transform: rotateY(225deg) translateZ(200px)
}

.singleImgOthers.img5[data-v-2b949f83] {
    transform: rotateY(300deg) translateZ(200px)
}

@-webkit-keyframes animate-2b949f83 {
    0% {
        transform: rotateY(-1turn)
    }
    to {
        transform: rotateY(0deg)
    }
}

@keyframes animate-2b949f83 {
    0% {
        transform: rotateY(-1turn)
    }
    to {
        transform: rotateY(0deg)
    }
}

ul[data-v-2b949f83] {
    list-style-type: "▶ "
}

li[data-v-2b949f83] {
    color: #31ddb2
}

li span[data-v-2b949f83] {
    color: #8690ad
}

@media (min-width:0px) and (max-width:360px) {
    .singleImgOthers[data-v-2b949f83],
    .singleImgOthers img[data-v-2b949f83] {
        width: 90px;
        height: 90px
    }
    .knowledgesContainer[data-v-2b949f83] {
        justify-content: center
    }
    .leftContent[data-v-2b949f83] {
        align-self: flex-end
    }
    .rightContent[data-v-2b949f83] {
        align-content: flex-end
    }
    .knowledgesText[data-v-2b949f83] {
        margin: 30px 0 0 30px;
        width: 100%
    }
    .singleImgOthers.img1[data-v-2b949f83] {
        transform: rotateY(0deg) translateZ(100px)
    }
    .singleImgOthers.img2[data-v-2b949f83] {
        transform: rotateY(75deg) translateZ(100px)
    }
    .singleImgOthers.img3[data-v-2b949f83] {
        transform: rotateY(150deg) translateZ(100px)
    }
    .singleImgOthers.img4[data-v-2b949f83] {
        transform: rotateY(225deg) translateZ(100px)
    }
    .singleImgOthers.img5[data-v-2b949f83] {
        transform: rotateY(300deg) translateZ(100px)
    }
}

@media (min-width:361px) and (max-width:600px) {
    li[data-v-2b949f83] {
        font-size: 20px
    }
    .singleImgOthers[data-v-2b949f83],
    .singleImgOthers img[data-v-2b949f83] {
        width: 60px;
        height: 60px
    }
    .animation[data-v-2b949f83] {
        padding-left: 70px;
        margin: 110px 0 0 0
    }
    .knowledgesContainer[data-v-2b949f83] {
        width: 100vw
    }
    .leftContent[data-v-2b949f83] {
        align-self: flex-end;
        width: 30%;
        padding-left: 20px
    }
    .rightContent[data-v-2b949f83] {
        align-content: flex-end;
        width: 50%
    }
    .knowledgesText[data-v-2b949f83] {
        margin: 30px 0 30px 0;
        width: 100%
    }
    .title2[data-v-2b949f83] {
        font-size: 30px
    }
    .singleImgOthers.img1[data-v-2b949f83] {
        transform: rotateY(0deg) translateZ(75px)
    }
    .singleImgOthers.img2[data-v-2b949f83] {
        transform: rotateY(75deg) translateZ(75px)
    }
    .singleImgOthers.img3[data-v-2b949f83] {
        transform: rotateY(150deg) translateZ(75px)
    }
    .singleImgOthers.img4[data-v-2b949f83] {
        transform: rotateY(225deg) translateZ(75px)
    }
    .singleImgOthers.img5[data-v-2b949f83] {
        transform: rotateY(300deg) translateZ(75px)
    }
}

@media (min-width:601px) and (max-width:1390px) {
    li[data-v-2b949f83] {
        font-size: 23px
    }
    .singleImgOthers[data-v-2b949f83],
    .singleImgOthers img[data-v-2b949f83] {
        width: 100px;
        height: 100px
    }
    .animation[data-v-2b949f83] {
        padding-left: 70px;
        margin: 110px 0 0 0
    }
    .knowledgesContainer[data-v-2b949f83] {
        width: 100vw
    }
    .leftContent[data-v-2b949f83] {
        align-self: flex-end;
        width: 30%;
        padding-left: 20px
    }
    .rightContent[data-v-2b949f83] {
        align-content: flex-end;
        width: 50%
    }
    .knowledgesText[data-v-2b949f83] {
        margin: 30px 0 30px 0;
        width: 100%
    }
    .title[data-v-2b949f83] {
        text-align: center;
        margin-left: 0;
        font-size: 35px
    }
    .title2[data-v-2b949f83] {
        font-size: 30px
    }
    .singleImgOthers.img1[data-v-2b949f83] {
        transform: rotateY(0deg) translateZ(150px)
    }
    .singleImgOthers.img2[data-v-2b949f83] {
        transform: rotateY(75deg) translateZ(150px)
    }
    .singleImgOthers.img3[data-v-2b949f83] {
        transform: rotateY(150deg) translateZ(150px)
    }
    .singleImgOthers.img4[data-v-2b949f83] {
        transform: rotateY(225deg) translateZ(150px)
    }
    .singleImgOthers.img5[data-v-2b949f83] {
        transform: rotateY(300deg) translateZ(150px)
    }
}

#Knowledges[data-v-ef1172b2] {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0
}

div[data-v-ef1172b2] {
    margin: 100px 0 100px 0
}

@media (min-width:0px) and (max-width:600px) {
    div[data-v-ef1172b2] {
        margin: 0 0 40px 0
    }
}

.fade-enter-active[data-v-8c4d2fe8] {
    transition: opacity 5s ease
}

.fade-leave-active[data-v-8c4d2fe8] {
    transition: opacity 0s ease
}

.fade-enter-from[data-v-8c4d2fe8],
.fade-leave-from[data-v-8c4d2fe8] {
    opacity: 0
}

.fade2-leave-active[data-v-8c4d2fe8] {
    transition: opacity 0s ease
}

.fade2-enter-active[data-v-8c4d2fe8] {
    transition: opacity 5s ease
}

.fade2-enter-from[data-v-8c4d2fe8],
.fade2-leave-from[data-v-8c4d2fe8] {
    opacity: 0
}

.fade3-leave-active[data-v-8c4d2fe8] {
    transition: opacity 0s ease
}

.fade3-enter-active[data-v-8c4d2fe8] {
    transition: opacity 5s ease
}

.fade3-enter-from[data-v-8c4d2fe8],
.fade3-leave-from[data-v-8c4d2fe8] {
    opacity: 0
}

.sectionTitle[data-v-8c4d2fe8] {
    display: flex;
    color: #12b98f
}

.sectionTitle2[data-v-8c4d2fe8] {
    width: 20%
}

.title[data-v-8c4d2fe8] {
    font-size: 50px
}

.line2[data-v-8c4d2fe8] {
    border: 1px solid #31ddb2;
    width: 80%;
    height: 1px;
    align-self: center
}

.experience[data-v-8c4d2fe8] {
    display: flex;
    margin: 0 auto;
    width: 40vw;
    margin-top: 200px;
    margin-bottom: 200px
}

.experienceLeft[data-v-8c4d2fe8] {
    border-left: 1px solid #12b98f;
    display: flex;
    flex-direction: column;
    width: 30%
}

.experienceRight[data-v-8c4d2fe8] {
    margin: 10px 30px 0 30px;
    text-align: start;
    width: 70%
}

.rightContent[data-v-8c4d2fe8] {
    display: flex;
    flex-direction: column;
    justify-content: start
}

.rightText[data-v-8c4d2fe8] {
    margin-left: 40px
}

.buttonExperience[data-v-8c4d2fe8] {
    font-family: Calibri;
    background-color: #002142;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 25px;
    transition: all .9s ease 0s
}

.activeButton[data-v-8c4d2fe8],
.buttonExperience[data-v-8c4d2fe8]:hover {
    background-color: #083563;
    color: #12b98f
}

.largeText[data-v-8c4d2fe8] {
    font-size: 20px;
    text-align: start;
    font-family: Calibri;
    color: #a8b2d1
}

.duration[data-v-8c4d2fe8] {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.underline[data-v-8c4d2fe8] {
    border-bottom: 1px solid #12b98f
}

ul[data-v-8c4d2fe8] {
    list-style-type: "-  "
}

li[data-v-8c4d2fe8] {
    color: #31ddb2
}

li span[data-v-8c4d2fe8] {
    color: #8690ad;
    text-align: start
}

@media (min-width:0px) and (max-width:360px) {
    .experience[data-v-8c4d2fe8] {
        width: 90%;
        margin-top: 40px;
        margin-bottom: 40px;
        flex-direction: column
    }
    .experienceLeft[data-v-8c4d2fe8] {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #12b98f
    }
    .experienceRight[data-v-8c4d2fe8] {
        width: 100%;
        margin-top: 20px!important;
        margin: 0
    }
    .buttonExperience[data-v-8c4d2fe8],
    .largeText[data-v-8c4d2fe8] {
        font-size: 15px
    }
}

@media (min-width:361px) and (max-width:600px) {
    .experience[data-v-8c4d2fe8] {
        width: 95%;
        padding: 0
    }
    .experienceLeft[data-v-8c4d2fe8] {
        width: 40%
    }
    .experienceRight[data-v-8c4d2fe8] {
        width: 60%;
        margin: 0;
        padding-left: 10px
    }
    .largeText[data-v-8c4d2fe8] {
        font-size: 15px;
        font-stretch: condensed
    }
    .buttonExperience[data-v-8c4d2fe8] {
        padding: 8px 0 8px 0;
        font-size: 17px
    }
    .underline[data-v-8c4d2fe8] {
        width: 45%;
        font-size: 14px;
        display: flex;
        flex-direction: column
    }
    li[data-v-8c4d2fe8] {
        line-height: 15px;
        font-size: 20px;
        padding-bottom: 10px
    }
    ul[data-v-8c4d2fe8] {
        padding-left: 10px
    }
}

@media (min-width:601px) and (max-width:1023px) {
    .experience[data-v-8c4d2fe8] {
        width: 100%;
        margin-top: 150px;
        margin-bottom: 150px
    }
    .experienceLeft[data-v-8c4d2fe8] {
        width: 30%
    }
    .experienceRight[data-v-8c4d2fe8] {
        width: 70%;
        margin: 0;
        padding-left: 15px
    }
    .largeText[data-v-8c4d2fe8] {
        font-size: 20px;
        font-stretch: condensed
    }
    .buttonExperience[data-v-8c4d2fe8] {
        padding: 8px 0 8px 0;
        font-size: 20px
    }
    .underline[data-v-8c4d2fe8] {
        width: 45%;
        font-size: 20px;
        display: flex;
        flex-direction: column
    }
    li[data-v-8c4d2fe8] {
        line-height: 30px;
        font-size: 20px;
        padding-bottom: 10px
    }
    ul[data-v-8c4d2fe8] {
        padding-left: 10px
    }
}

@media (min-width:1024px) and (max-width:1366px) {
    .experience[data-v-8c4d2fe8] {
        width: 100%;
        margin-top: 150px;
        margin-bottom: 150px
    }
    .experienceLeft[data-v-8c4d2fe8] {
        width: 30%
    }
    .experienceRight[data-v-8c4d2fe8] {
        width: 70%;
        margin: 0;
        padding-left: 15px
    }
    .largeText[data-v-8c4d2fe8] {
        font-size: 23px;
        font-stretch: condensed
    }
    .buttonExperience[data-v-8c4d2fe8] {
        padding: 8px 0 8px 0;
        font-size: 23px
    }
    .underline[data-v-8c4d2fe8] {
        width: 45%;
        font-size: 23px;
        display: flex;
        flex-direction: column
    }
    li[data-v-8c4d2fe8] {
        line-height: 30px;
        font-size: 20px;
        padding-bottom: 10px
    }
    ul[data-v-8c4d2fe8] {
        padding-left: 10px
    }
}

@media (min-width:1200px) and (max-width:1390px) {
    .experience[data-v-8c4d2fe8] {
        width: 70%;
        margin-top: 200px;
        margin-bottom: 300px
    }
    .experienceLeft[data-v-8c4d2fe8] {
        width: 30%
    }
    .experienceRight[data-v-8c4d2fe8] {
        width: 70%;
        margin: 0;
        padding-left: 15px
    }
    .largeText[data-v-8c4d2fe8] {
        font-size: 22px;
        font-stretch: condensed
    }
    .buttonExperience[data-v-8c4d2fe8] {
        padding: 8px 0 8px 0;
        font-size: 25px
    }
    .underline[data-v-8c4d2fe8] {
        width: 45%;
        font-size: 23px;
        display: flex;
        flex-direction: row
    }
    li[data-v-8c4d2fe8] {
        line-height: 30px;
        font-size: 20px;
        padding-bottom: 10px
    }
    ul[data-v-8c4d2fe8] {
        padding-left: 10px
    }
}

@media (min-width:1391px) and (max-width:1679px) {
    .experience[data-v-8c4d2fe8] {
        width: 70%;
        margin-top: 200px;
        margin-bottom: 300px
    }
    .experienceLeft[data-v-8c4d2fe8] {
        width: 30%
    }
    .experienceRight[data-v-8c4d2fe8] {
        width: 70%;
        margin: 0;
        padding-left: 15px
    }
    .largeText[data-v-8c4d2fe8] {
        font-size: 22px;
        font-stretch: condensed
    }
    .buttonExperience[data-v-8c4d2fe8] {
        padding: 8px 0 8px 0;
        font-size: 25px
    }
    .underline[data-v-8c4d2fe8] {
        width: 45%;
        font-size: 23px;
        display: flex;
        flex-direction: row
    }
    li[data-v-8c4d2fe8] {
        line-height: 30px;
        font-size: 20px;
        padding-bottom: 10px
    }
    ul[data-v-8c4d2fe8] {
        padding-left: 10px
    }
}

.sectionTitle[data-v-14d2d04a] {
    display: flex
}

.sectionTitle2[data-v-14d2d04a] {
    width: 20%
}

.textGreenA[data-v-14d2d04a] {
    color: #12b98f
}

.line3[data-v-14d2d04a] {
    border: 1px solid #31ddb2;
    width: 90%;
    height: 1px;
    align-self: center
}

.proyects[data-v-14d2d04a] {
    padding-top: 120px;
    display: flex;
    width: 60vw;
    margin: 0 auto
}

.proyectsLeft2[data-v-14d2d04a],
.proyectsLeft[data-v-14d2d04a] {
    width: 600px;
    height: 400px;
    background-color: #12b98f;
    position: relative
}

.proyectsLeft2 img[data-v-14d2d04a],
.proyectsLeft img[data-v-14d2d04a] {
    position: absolute;
    z-index: 1
}

.proyectsRight[data-v-14d2d04a] {
    width: 38vw;
    margin-left: 30px;
    text-align: end
}

.proyectsRight2[data-v-14d2d04a] {
    width: 32vw;
    text-align: start
}

.proyectImg[data-v-14d2d04a] {
    width: 600px;
    height: 400px;
    transition: .9s ease-in-out
}

.proyectHeader[data-v-14d2d04a] {
    font-size: 20px;
    font-family: Calibri
}

.front[data-v-14d2d04a] {
    transition: all .9s ease-in-out
}

.front[data-v-14d2d04a]:hover {
    opacity: 0
}

.proyectTitle[data-v-14d2d04a] {
    color: #edf0f1;
    font-family: Calibri;
    font-weight: 700;
    height: 100px
}

.proyectDesc2[data-v-14d2d04a],
.proyectDesc[data-v-14d2d04a] {
    position: absolute;
    width: 620px;
    background-color: #021c36;
    padding: 15px;
    z-index: 2
}

.largeText[data-v-14d2d04a] {
    font-size: 20px;
    font-family: Calibri;
    color: #a8b2d1;
    text-align: start
}

@media (min-width:0px) and (max-width:360px) {
    .proyectHeader[data-v-14d2d04a] {
        font-size: 30px
    }
    .proyectTitle[data-v-14d2d04a] {
        text-align: center;
        width: 100%
    }
    .proyectImg[data-v-14d2d04a] {
        width: 100%;
        height: 250px;
        transition: .9s ease-in-out
    }
    .proyects[data-v-14d2d04a] {
        padding-top: 60px;
        width: 100vw
    }
    .proyects2[data-v-14d2d04a] {
        padding-top: 300px;
        margin-bottom: 300px
    }
    .proyectsLeft2[data-v-14d2d04a],
    .proyectsLeft[data-v-14d2d04a] {
        width: 100%;
        height: 250px;
        margin-top: 140px;
        position: absolute;
        opacity: .3
    }
    .proyectsLeft2[data-v-14d2d04a] {
        z-index: -10
    }
    .proyectsRight2[data-v-14d2d04a],
    .proyectsRight[data-v-14d2d04a] {
        width: 100%;
        margin-left: 0;
        text-align: center
    }
    .proyectDesc2[data-v-14d2d04a],
    .proyectDesc[data-v-14d2d04a] {
        width: 100%;
        background-color: transparent
    }
}

@media (min-width:361px) and (max-width:600px) {
    .proyectHeader[data-v-14d2d04a] {
        font-size: 30px
    }
    .proyectTitle[data-v-14d2d04a] {
        text-align: center;
        width: 100%
    }
    .proyectImg[data-v-14d2d04a] {
        width: 100%;
        height: 250px;
        transition: .9s ease-in-out
    }
    .proyects[data-v-14d2d04a] {
        padding-top: 60px;
        width: 100vw
    }
    .proyects2[data-v-14d2d04a] {
        padding-top: 300px;
        margin-bottom: 300px
    }
    .proyectsLeft2[data-v-14d2d04a],
    .proyectsLeft[data-v-14d2d04a] {
        width: 90%;
        margin-left: 5%;
        height: 250px;
        margin-top: 140px;
        position: absolute;
        opacity: .3
    }
    .proyectsLeft2[data-v-14d2d04a] {
        z-index: -10
    }
    .proyectsRight2[data-v-14d2d04a],
    .proyectsRight[data-v-14d2d04a] {
        width: 100%;
        margin-left: 0;
        text-align: center
    }
    .proyectDesc2[data-v-14d2d04a],
    .proyectDesc[data-v-14d2d04a] {
        width: 90%;
        margin-left: 5%;
        font-size: 10px;
        background-color: transparent
    }
    .largeText[data-v-14d2d04a] {
        font-size: 4vw
    }
}

label[data-v-54c2b002] {
    font-size: 25px;
    color: #fff;
    font-weight: 700
}

#map[data-v-54c2b002] {
    width: 100%;
    border-radius: 70px;
    opacity: .8
}

.contact[data-v-54c2b002] {
    margin: 100px 0 0 0;
    display: flex;
    flex-wrap: wrap
}

.leftContent[data-v-54c2b002],
.rightContent[data-v-54c2b002] {
    width: 50%
}

.row[data-v-54c2b002] {
    width: 80%
}

.buttonContact[data-v-54c2b002] {
    padding: 9px 25px;
    background-color: #229679;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease 0s
}

.buttonContact[data-v-54c2b002]:hover {
    background-color: #2bb895
}

@media (min-width:0px) and (max-width:360px) {
    .contact[data-v-54c2b002] {
        margin: 40px 0 0 0;
        flex-direction: column;
        width: 100%
    }
    .form-control[data-v-54c2b002],
    .leftContent[data-v-54c2b002],
    .rightContent[data-v-54c2b002] {
        width: 100%
    }
    .row[data-v-54c2b002] {
        display: flex;
        flex-direction: column;
        margin: 20px 0!important;
        padding: 0!important;
        width: 100%
    }
    .firstRow[data-v-54c2b002] {
        width: 100%
    }
    .buttonContact[data-v-54c2b002] {
        display: block;
        margin: 0 auto 15px auto
    }
    #map[data-v-54c2b002] {
        display: none
    }
}

@media (min-width:361px) and (max-width:1000px) {
    .contact[data-v-54c2b002] {
        margin: 40px 0 0 0;
        flex-direction: column;
        width: 100%
    }
    .form-control[data-v-54c2b002],
    .leftContent[data-v-54c2b002],
    .rightContent[data-v-54c2b002] {
        width: 100%
    }
    .row[data-v-54c2b002] {
        display: flex;
        flex-direction: column;
        margin: 20px 0!important;
        padding: 0!important;
        width: 100%
    }
    .firstRow[data-v-54c2b002] {
        width: 100%
    }
    .buttonContact[data-v-54c2b002] {
        display: block;
        margin: 0 auto 15px auto
    }
    #map[data-v-54c2b002] {
        display: none
    }
}

@media (min-width:1001px) and (max-width:1200px) {
    .contact[data-v-54c2b002] {
        margin: 40px 0 0 0;
        width: 100%
    }
    .leftContent[data-v-54c2b002] {
        width: 50%
    }
    .rightContent[data-v-54c2b002] {
        width: 50%;
        display: flex;
        align-items: center
    }
    .form-control[data-v-54c2b002] {
        width: 100%
    }
    .row[data-v-54c2b002] {
        display: flex;
        flex-direction: column;
        margin: 20px 0!important;
        padding: 0!important;
        width: 100%
    }
    .firstRow[data-v-54c2b002] {
        width: 100%
    }
    .buttonContact[data-v-54c2b002] {
        display: block;
        margin: 0 auto 15px auto
    }
    #map[data-v-54c2b002] {
        width: 90%;
        height: 50%;
        margin: 0 auto
    }
}

.division {
    margin: 0;
    padding-top: 100px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%
}

@media (min-width:0px) and (max-width:600px) {
    .division {
        padding-top: 100px
    }
}